<section data-ng-controller="ContactmetadataController" data-ng-init="find()">
    <div class="page-header">
        <h1>Contactmetadata</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="contactmetadatum in contactmetadata" data-ng-href="#!/contactmetadata/{{contactmetadatum._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="contactmetadatum.created | date:'medium'"></span>
				by
				<span data-ng-bind="contactmetadatum.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="contactmetadatum.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!contactmetadata.$resolved || contactmetadata.length">
    	No Contactmetadata yet, why don't you <a href="/#!/contactmetadata/create">create one</a>?
    </div>
</section>